<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/contact.css"/>
    <title> A Web Page </title>
</head>
<body>
    <div class="container">
        <div class="navBar">
            <a href="/">Home</a> 
            |
            <a href="/projects">Projects</a>
            |
            <a href="/contact">Contact</a>
        </div>
        <h3 class="title">Contact Me</h3>
        <div class="contactForm">
            <div class="info">
                Name:<input type="text"><br>
                Email:<input type="email"><br>
            </div>
            <div class="message">
                Message<br>
                <textarea rows="5" cols="5"></textarea>
            </div>
            <input class="submit" type="submit" value="Submit">
        </div>
        
    </div>
    
</body>
</html>