<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/index.css"/>
        <title>A Web Page</title>
    </head>
    <body>
        <div class="container">
            <div class="navBar">
                <a href=""> Home </a> | 
                <a href="/projects"> Projects </a> | 
                <a href="/contact"> Contact </a>
            </div>
            <br>
            <h2 class="title"> About Me </h2>
            <br>
            <br>
            <div class="content">
                <div class="imageContent">
                    <div class="image">
                        <img src="~/images/unicorn_pusheen_badass_by_tsunekodesu-dbo0pl7.jpg">
                        <p><b>Pusheen Unicorn</b></p>
                        <p>You mess with the rainbow, you get the horn!</p>
                    </div>
                </div>
                <div class="textContent">
                    <p>Born in the harsh environment of the Uni-Verse badlands, Pusheen Unicorn's body has adapted to most conditions that would be fatal for most lifeforms.</p>
                </div>
            </div>
        </div>
    </body>
</html>