@foreach(var user in ViewBag.AllUsers) {

<p>@user.FirstName</p>
}
<fieldset>

    <h1>Welcome name place holder</h1>
    <h3>Current Balance: </h3>

    <fieldset>
        <table>
            <tr><p>Amount</p>
                <td>

                </td>
            </tr>
            <tr><p>Date</p>
                <td>

                </td>
            </tr>
        </table>
    </fieldset>
</fieldset>

