@model Wedding

<title>Wedding Planner</title>

<h1>@Model.WedderOne & @Model.WedderTwo's Wedding</h1>

<a href="ReturnToDashboard"> Dashboard </a>
<a href="Logout" style="float:right"> Logout </a>
