@model User

<title>Wedding Planner</title>
<div class="register">
    <h2>Register</h2>

    <p>@ViewBag.RegError</p>
    <h3>Register</h3>
    <form asp-action="Register" method="POST">

        <span asp-validation-for="Name"></span>
        <label asp-for="Name">Name</label>
        <input asp-for="Name"><br>

        <span asp-validation-for="Email"></span>
        <label asp-for="Email">Email</label>
        <input asp-for="Email"><br>

        <span>@ViewBag.PasswordError</span>
        <span asp-validation-for="Password"></span>
        <label asp-for="Password">Password</label>
        <input type="password" asp-for="Password"><br>

        <span>@ViewBag.PasswordError</span>
        <label for="PasswordConfirm">Confirm Password</label>
        <input type="password" name="PasswordConfirm"><br>

        <span asp-validation-for="Description"></span>
        <label for="Description">Description</label>
        <input type="Description" name="Description"><br>

        <input type="submit" value="Register">
    </form>
</div>


<div class="Login">
    <h3>Login</h3>
    <p>@ViewBag.LogError</p>
    <form action="/Login" method="POST">
        <label>Email:</label>
        <input type="text" name="Email"><br>

        <label>Password:</label>
        <input type="password" name="Password"><br>

        <input type="submit" value="Login">
    </form>
</div>
</div>