<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RazorFun</title>
</head>
<body>
    @{
        string[] strArr = {"Robot","unicorn","attack","on","the","land","of","Ooo!"};

        foreach (string word in strArr)
        {
            <p> @word </p>
        }
    }
</body>
</html>