@model Wedding

<title>Wedding Planner</title>
<h1>Plan Your Wedding</h1>

<a href="/Dashboard"> Dashboard </a>
<a href="Logout"> Logout </a>

<form asp-action="ProcessCreateWedding" method="post">
    <span asp-validation-for="WedderOne"></span>
    <label asp-for="WedderOne"> Wedder One </label>
    <input type="text" asp-for="WedderOne"><br>

    <span asp-validation-for="WedderTwo"></span>
    <label asp-for="WedderTwo"> Wedder Two </label>
    <input type="text" asp-for="WedderTwo"><br>

    <span>@ViewBag.DateError</span>
    <span asp-validation-for="Date"></span>
    <label asp-for="Date"> Date </label>
    <input type="Date" asp-for="Date"><br>

    <span asp-validation-for="Address"></span>
    <label asp-for="Address"> Address </label>
    <input type="text" asp-for="Address"><br>
    
    <input type="submit" value="Create">
</form>



